# Justifications for rule removals:
#
# misc-include-cleaner
#  Not super accurate or useful, need to set up IWYU for better detection including forward declares.
#
# misc-no-recursion
#  Hard to work around with the Math interpretation tree, just takes some work to build it without recursion.
#

HeaderFileExtensions: ['', 'h','hh','hpp','hxx']
ImplementationFileExtensions: ['c','cc','cpp','cxx']
# HeaderFilterRegex is broken in some versions, see https://github.com/llvm/llvm-project/pull/133582.
# At least 20.1.2 fixes this.
HeaderFilterRegex: '.*/src/.*'
Checks: >
  -*,
  clang-*,
  misc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  modernize-*,
  performance-*,
  portability-*,
  readability-*

WarningsAsErrors: '*'
